<!DOCTYPE html>
<!--[if lte IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--                
*                                      *
    *                              *
        *                      *
            *              *
                *      *
                    *
                *      *
            *              *
        *                      *
    *                              *
*                                      *
                  ------Theme By Hypocrisy(https://github.com/hecate-xw/hexo-theme-hypocrisy)
                  Modified from TKL(https://github.com/SuperKieran/TKL)
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<%- partial('hypocrisy/head') %>
<!--<% if (typeof page.title == 'undefined') { %>
<body class="home-template">
<% } else { %>
<body class="post-template">
<% } %>-->
<body id="index" class="lightnav animsition">

      <%- partial('hypocrisy/header') %>
      <%- body %>
      <%- partial('hypocrisy/footer') %>
      <%- partial('hypocrisy/after_all') %>
      <%- partial('hypocrisy/google_analytics') %>

</body>
</html>
